{
    "audioDir": "/media/usb_audio/shplayer",
    "audioOutput": "Digital",
    "volume": 30,
    "audioMode": "kids",
    "countdownTime": 300,
    "GPIOButtons": false,
    "USBRFIDReader": false
}